build
bin
.config
*.o
*.pyc
sdkconfig
sdkconfig.old
dependencies.lock
# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# Clion Settings
*.idea/

# Clion build directory
*cmake-build-debug

*.tmp

#tools ignored
tools/flash_firmware

*.zip

# DO NOT PUSH API KEY!!!!
.env